<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a href="index.html" class="navbar-brand">
            <img src="assets/favicon.png" alt="logo" class="pt-0">
            <span class="ms-5 fw-bold text-uppercase fs-3 pb-2">User Gallery Hub</span>
        </a>
        <button 
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                   <div
                   (click)="onHomeClicked()"
                      (keydown)="onHomeClicked()"
                      tabindex="0" 
                      role="button" 
                      aria-label="Navigate to home section">
                    <a  class="nav-link fw-semibold">Home</a>
                   </div>
                </li>
                <li class="nav-item">
                    <div
                      (click)="onPhotoClicked()"
                      (keydown)="onPhotoClicked()"
                      tabindex="0" 
                      role="button" 
                      aria-label="Navigate to photo section"
                    >
                      <a class="nav-link fw-semibold">Photo</a>
                    </div>
                  </li>
                  
                  <li class="nav-item">
                    <div
                      *ngIf="!isLoggedIn"
                      (click)="onLoginClicked()"
                      (keydown)="onLoginClicked()"
                      tabindex="0" 
                      role="button"
                      aria-label="Navigate to login page"
                    >
                      <a class="nav-link fw-semibold px-4 mx-4">Login</a>
                    </div>
                  </li>
                  
                  <li class="nav-item">
                    <div
                      *ngIf="isLoggedIn"
                      (click)="onLogoutClicked()"
                      (keydown)="onLogoutClicked()"
                      tabindex="0" 
                      role="button"
                      aria-label="Log out"
                    >
                      <a class="nav-link fw-semibold px-4 mx-4">Logout</a>
                    </div>
                  </li>
                  
            </ul>
        </div>
    </div>
</nav>
