<div class="image-container mt-7  mb-7">

  <img [src]="photo.url" alt="" class="img" *ngFor="let photo of allPhotos" />

  <div>
   <span class="span fw-bold" *ngFor="let photo of allPhotos">Title: {{photo.title}} </span>
  <button class="button ms-2" title="Edit" 
  (click)="editClicked()">
    edit
   </button>
   <div *ngIf="isEditMode">
    <input type="text" placeholder="input new title" required
    [(ngModel)]="newTitle">
    <button class="buttons " (click)="submitClicked()">submit</button>
   </div>
  </div>
</div>



