.img{
    width: 200px;
    height: auto;
}

.button{
background-color: #c167ef;
color: white;
text-decoration: none;
border:none;
border-radius: 3px;
display: inline;
}

.button:hover {
background-color: #ae13fc;

}

.span{
    display: inline-block;
    margin-top: 10px;
}

input {
    margin-top: 15px;
}
