/* Image Styling */
.img {
    width: 100%;  /* Make image responsive by setting width to 100% */
    height: auto;  /* Maintain aspect ratio */
    max-width: 200px;  /* Set max width for larger screens */
  }
  
  /* Button Styling */
  .button {
    background-color: #c167ef;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    display: inline-block;
    padding: 4px 8px;
  }

  .buttons{
    background-color: #10bcee;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    display: inline-block;
    padding: 4px 20px;
    margin-top: 3px;
    margin-left: 0;
  }
  
  .button:hover {
    background-color: #ae13fc;
  }
  
  /* Span Styling */
  .span {
    display: inline-block;
    margin-top: 10px;
  }
  
  /* Input Styling */
  input {
    margin-top: 15px;
    width: 100%;  /* Make input take full width */
    max-width: 600px;  /* Set max width for larger screens */
    padding: 8px;
    box-sizing: border-box;
    display: block;
  }

@media(min-width:225px){
    .image-container{
        margin:0 20%
    }
}

@media(min-width:500px){
    .image-container{
margin: 0 30%
    }
}
  