<div class=" table-container mt-6">
  <div class="d-flex justify-content-center mb-8 mt-9 "  *ngIf="isLoading">
    <div class="spinner-border spinner" role="status" >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
        <div *ngIf="responseArrived">
            <h1>User: {{selectedUser[0].name}} </h1>
            <h1> Album Information</h1>
            <table class="styled-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Album Id</th>
                  <th>Title</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let album of userAlbums; let i=index" (click)="onAlbumClicked(album)">
                  <td>{{i+1}}</td>
                  <td>{{album.id}}</td>
                  <td>{{album.title}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>

    
