<div class="row">
    <div class="col-md-6">
        <div class="table-container">
            <h1>User Information</h1>
            <table class="styled-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Jeremiah Ongwenyi</td>
                  <td>johndoe</td>
                  <td>johnexample.com</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jane Smith</td>
                  <td>janesmith</td>
                  <td>janeexample.com</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Michael Brown</td>
                  <td>mikebrown</td>
                  <td>mikeexample.com</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Emily Clark</td>
                  <td>emilyc</td>
                  <td>emilyample.com</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>

    <!-- <div class="col-md-6">
        <div class="table-container">
            <h1>User Information</h1>
            <table class="styled-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Jeremiah Ongwenyi</td>
                  <td>johndoe</td>
                  <td>johnexample.com</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jane Smith</td>
                  <td>janesmith</td>
                  <td>janeexample.com</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Michael Brown</td>
                  <td>mikebrown</td>
                  <td>mikeexample.com</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Emily Clark</td>
                  <td>emilyc</td>
                  <td>emilyample.com</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div> -->
</div>